<html>
<head>
  <title id='project-title'> {{title}} </title>

  
  <!-- Load jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  <!-- Load Bootstrap assets -->
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Load required css assets -->
  <link href="/css/project-details.css" rel="stylesheet">

</head>

<body>
	<div id="project-board" class="container-fluid">
 		<div class="project-title-row row"> 
 		  <h2 class="col-md-12"> {{title}} <h2>
 		</div>

 		<div class="top-nav row"> 
	    <div class="col-md-12">
		    <ul class="nav nav-tabs">
		      <li id="nav-home" class="active" @click="hideLog"><a href="#">Project Detail</a></li>
		      <li id="nav-log" class="inactive" @click="showLog"><a href="#">Audit History</a></li>
		    </ul>
		  </div>
		</div>

		<div class="home-page-link row">
		<a class="btn btn-primary pull-right" href="/mainPage" role="button">Home page</a>
		</div>
	  
		<div class="center-content row">
		  <div v-for="(value, key) in stageMap">
			  <column :stage-name="key" :stage-map="stageMap" :task-map="taskMap" :log="log" :project="$data"></column>
		  </div>

		<br><br><br>
		<div class="row">
			<div class="add-stage col-md-2 col-md-offset-9">	    
		      <div>
		        <input class="add-stage-inputbox form-control" type="text" placeholder="Add a stage" id="new-stage-title" v-model.trim="newStageTitle" @keyup.enter="addStage">
		      </div>
		      <button class="add-stage-btn btn btn-default pull-right" type="button" @click="addStage">Add</button>
			</div>
		</div>
		</div>

		<div class="log-history panel panel-default">
		  <table class="table table-striped">
		    <tbody>
		      <tr v-for="value in log">
		        <td v-html="value"></td>
		      </tr>
		    </tbody>
		  </table>
			<!-- <div v-for="value in log" class="panel-body" v-html="value"></div> -->
		</div>


	</div>
  <script src="https://unpkg.com/vue"></script>

  <!-- Local Vue.js file -->
  <script src="/js/projectDetails.js"></script>
  
</body>

</html>